/src/com/dbms/project/data/aka_name.csv
/src/com/dbms/project/data/aka_title.csv
/src/com/dbms/project/data/cast_info.csv
/src/com/dbms/project/data/char_name.csv
/src/com/dbms/project/data/comp_cast_type.csv
/src/com/dbms/project/data/company_name.csv
/src/com/dbms/project/data/company_type.csv
/src/com/dbms/project/data/complete_cast.csv
/src/com/dbms/project/data/info_type.csv
/src/com/dbms/project/data/keyword.csv
/src/com/dbms/project/data/kind_type.csv
/src/com/dbms/project/data/link_type.csv
/src/com/dbms/project/data/movie_companies.csv
/src/com/dbms/project/data/movie_info.csv
/src/com/dbms/project/data/movie_info_idx.csv
/src/com/dbms/project/data/movie_keyword.csv
/src/com/dbms/project/data/movie_link.csv
/src/com/dbms/project/data/name.csv
/src/com/dbms/project/data/person_info.csv
/src/com/dbms/project/data/role_type.csv
/src/com/dbms/project/data/schematext.sql
/src/com/dbms/project/data/title.csv
